<div class="header">
    <a href="https://argentinaprograma.inti.gob.ar"><img src="../assets/APLogo.png" class="logo img-fluid"></a>
    <div class="social">
      <a href="https://www.facebook.com/leandro.meza.5/"><img src="../assets/facebook.png" class="logosocial img-fluid"></a>
      <a href="https://github.com/BacchusTheSober"><img src="../assets/github.png" class="logosocial img-fluid"></a>
      <a href="https://www.instagram.com/leandrojmeza/"><img src="../assets/instagram.png" class="logosocial img-fluid"></a>
      <button type="button" class="btn btn-outline-light" (click)='login()' *ngIf="!isLogged">LOG IN</button>
      <button type="button" class="btn btn-outline-light" (click)='onLogOut()' *ngIf="isLogged">CERRAR SESION</button>
    </div>
  </div>
  <img src="../assets/rplace.jpg" alt="pixelart" class="banner">