<div class="header">
  <a href="https://argentinaprograma.inti.gob.ar"><img src="../assets/APLogo.png" class="logo img-fluid"></a>
  <div class="social">
    <a href=""><img src="../assets/facebook.png" class="logosocial img-fluid"></a>
    <a href=""><img src="../assets/github.png" class="logosocial img-fluid"></a>
    <a href=""><img src="../assets/instagram.png" class="logosocial img-fluid"></a>
    <button type="button" class="btn btn-outline-light">LOG IN</button>
  </div>
</div>
<img src="../assets/rplace.jpg" alt="pixelart" class="banner">
<div class="row aboutme">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
    <img src="../assets/profilepic.jpg" class="img-fluid gap" id="profilepic">
    <h4>Leandro José Meza</h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
    <p>Desarrollador Web Full-Stack Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 info">
    <h3>Sobre mí</h3>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare metus et
        felis laoreet, quis accumsan orci euismod. Fusce interdum est lacus, at convallis turpis 
        pretium non. Phasellus fermentum velit pretium tortor tincidunt egestas. Nam nec neque laoreet,
        ultricies ipsum eu, sollicitudin nulla. Maecenas sed sem ligula. Ut auctor egestas arcu, id fringilla 
        augue tristique sed. Aliquam in varius ante. Phasellus ut enim sed lacus laoreet gravida. Quisque finibus 
        quis tortor ut pharetra. Pellentesque magna nunc, commodo sed venenatis vitae, pharetra vel 
        purus. Sed laoreet, libero eget scelerisque luctus, nunc ligula euismod tellus, et aliquet urna 
        nulla cursus velit.
    </span>
  </div>
</div>
<div class="row" id="formAcademica">
  <h3>Educación</h3>
  <div class="row bloque" id="formAcademica">
    <img src="../assets/dadlogo.jpg" alt="Logo DAD" class="logoDAD col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h4>Departamento de Aplicación Docente</h4>
      <div id="formacion">
        <p>Bachiller en Lenguas</p>
        <p>2014 - 2017</p>
      </div>
  </div>
</div>
  <div class="row bloque" id="formAcademica">
    <img src="../assets/odinlogojpg.jpg" alt="Logo ODINPROJECT" class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="logoODIN">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h4>Curso The Odin Project</h4>
      <div id="formacion">
        <p>Fundamentos: HTML - CSS - JS</p>
      </div>
    </div>
  </div>
</div>
<app-circleprogress-hy-s></app-circleprogress-hy-s>