<div class="header">
  <a href="https://argentinaprograma.inti.gob.ar"><img src="../assets/APLogo.png" class="logo img-fluid"></a>
  <div class="social">
    <a href=""><img src="../assets/facebook.png" class="logosocial img-fluid"></a>
    <a href=""><img src="../assets/github.png" class="logosocial img-fluid"></a>
    <a href=""><img src="../assets/instagram.png" class="logosocial img-fluid"></a>
    <button type="button" class="btn btn-outline-light">LOG IN</button>
  </div>
</div>
<img src="../assets/rplace.jpg" alt="pixelart" class="banner">
<app-aboutme></app-aboutme>
<div class="row" id="formAcademica">
  <h3>Educación</h3>
  <div class="row bloque" id="formAcademica">
    <img src="../assets/dadlogo.jpg" alt="Logo DAD" class="logoDAD col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h4>Departamento de Aplicación Docente</h4>
      <div id="formacion">
        <p>Bachiller en Lenguas</p>
        <p>2014 - 2017</p>
      </div>
  </div>
</div>
  <div class="row bloque" id="formAcademica">
    <img src="../assets/odinlogojpg.jpg" alt="Logo ODINPROJECT" class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="logoODIN">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h4>Curso The Odin Project</h4>
      <div id="formacion">
        <p>Fundamentos: HTML - CSS - JS</p>
      </div>
    </div>
  </div>
</div>
<app-circleprogress-hy-s></app-circleprogress-hy-s>