<h3>Soft & Hard Skills</h3>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 skillCircle">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'45px'"
            [space]="0"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#e66700'"
            [innerStrokeColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 skillCircle">
        <circle-progress
            [percent]="40"
            [radius]="100"
            [title]="'JS'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'45px'"
            [space]="0"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#eeea00'"
            [innerStrokeColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 skillCircle">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'CSS'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'45px'"
            [space]="0"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#2b82b4'"
            [innerStrokeColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 skillCircle">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'Inglés (B1)'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'30px'"
            [space]="0"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#0aff68'"
            [innerStrokeColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 skillCircle">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'Trabajo en equipo'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'20px'"
            [space]="0"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff0a2b'"
            [innerStrokeColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
</div>