<div class="row" id="formAcademica">
  <h3>Educación</h3>
  <div class="row bloque" id="formAcademica">
    <img src="../assets/dadlogo.jpg" alt="Logo DAD" class="logoDAD col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h4>Departamento de Aplicación Docente</h4>
      <div id="formacion">
        <p>Bachiller en Lenguas</p>
        <p>2013 - 2017</p>
      </div>
  </div>
</div>
  <div class="row bloque" id="formAcademica">
    <img src="../assets/odinlogojpg.jpg" alt="Logo ODINPROJECT" class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="logoODIN">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h4>Curso The Odin Project</h4>
      <div id="formacion">
        <p>Fundamentos: HTML - CSS - JS</p>
      </div>
    </div>
  </div>
</div>