<div class="row aboutme">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
      <img src="../assets/profilepic.jpg" class="img-fluid gap" id="profilepic">
      <h4>{{persona.nombre}} {{persona.apellido}}</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
      <p>Desarrollador Web Full-Stack Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 info">
      <h3>Sobre mí</h3>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare metus et
          felis laoreet, quis accumsan orci euismod. Fusce interdum est lacus, at convallis turpis 
          pretium non. Phasellus fermentum velit pretium tortor tincidunt egestas. Nam nec neque laoreet,
          ultricies ipsum eu, sollicitudin nulla. Maecenas sed sem ligula. Ut auctor egestas arcu, id fringilla 
          augue tristique sed. Aliquam in varius ante. Phasellus ut enim sed lacus laoreet gravida. Quisque finibus 
          quis tortor ut pharetra. Pellentesque magna nunc, commodo sed venenatis vitae, pharetra vel 
          purus. Sed laoreet, libero eget scelerisque luctus, nunc ligula euismod tellus, et aliquet urna 
          nulla cursus velit.
      </span>
    </div>
  </div>
